<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sieyuan.producer.dao.ProductMapper">
    <select id="getAllProduct" resultType="com.sieyuan.producer.entity.Product">
      select * from t_product
    </select>
    <update id="descProduct">
        update t_product set p_count = p_count-#{param2}   where id = #{param1}
    </update>
</mapper>