<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sieyuan.producer.dao.UserMapper">
    <select id="getByUsername" parameterType="string" resultType="com.sieyuan.producer.entity.User">
      select * from user where username = #{username,jdbcType=VARCHAR}
    </select>
    <insert id="insertUser" parameterType="com.sieyuan.producer.entity.User">
      insert into user(username) values (#{username,jdbcType=VARCHAR} )
    </insert>
    <update id="updateUser" parameterType="string">
        update user set username = "hello" where username = #{username,jdbcType=VARCHAR}
    </update>
    <delete id="deleteUser" parameterType="string">
        delete from user where username = "hi"
    </delete>
</mapper>